{
  "backup":
  {
    "tasks": [ "docdata", "metadata" ],
    "destination": "./backup/"
  },
  "tasks":
  {
    "metadata":
    {
    },
    "docdata":
    {
    }
  },
  "shared":
  {
    "showpad":
    {
      "host": "0.0.0.0",
      "port": "8080",
      "apikey": ""
    }
  }
}
